<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
          background-image: url('./assets/images/bg.jpg');
        }
        </style>
</head>
<body>
    <b>
    <div class="blue-bg"></div>
<div class="white-bg shadow"></div>
<div class="content">
  <h1>Tips & Tricks</h1>
  <p><b>There’s nothing wrong with starting your garden from small plants which you purchase (called “transplants”)—in fact, many people do. There are a handful of vegetables that can be challenging to grow from seed and are best purchased as young plants from a garden store/nursery (tomatoes, for example, can be finicky to start from seed). Transplants also allow you to get a head start on growing plants such as tomatoes, peppers, and eggplants, which require a long, warm growing season.</b></p>
 
  <ul>
   <p>1. Here are a handful of the benefits of starting from seeds:</p>
  <p>2. Seeds are much cheaper, especially in greater quantities. They often keep at least a couple years, and they can be shared with friends and neighbors, too.</p>
  <p>3. Seeds offer much more variety than the often limited choice of transplants in a nursery. Just take a look at these seed catalogs and let the dreams begin!</p>
  <p>4. Some vegetables do not survive being transplated from one place to another.</p>
  <p>5. Starting from seed means that you can sow seeds directly in the garden, which opens the door to growing crops such as corn, melons, squash, beans, and peas, which simply do not grow as well when transplanted from one place to another.</p>
  <p>6. Starting plants from seed means you can ensure they are healthy and strong right from the start. </p>
  
  </ul>

  <dl>
      <p><b> SOME EASIEST VEGETABLES TO GROW YOURSELF</b></p>
      <dt>1.GREEN BEANS</dt>
      <dd> Beans grow even in fairly poor soils, because they fix the nitrogen as they go! Bush varieties don’t require trellising, but pole varieties provide a more extended harvest. In cool areas, snap beans are easiest. In hot areas, lima beans, southern peas, and asparagus beans are also very easy to grow. All bean plants are fast growers and thrive in warm, moist soil. 
        </dd>
        
        <dt>3. PEAS</dt>
      <dd> Plant peas as soon as the soil can be worked—2 weeks before the average last spring frost for your region, if possible. To harvest a continuous supply of peas during the summer, simultaneously sow varieties with different maturity dates. Then sow more seeds about 2 weeks later. Continue this pattern, sowing no later than mid-June. 
        
        </dd>
        <dt>4. RADISHES</dt>
        <dd>Radishes can be harvested in as little as 24 days after planting, and can be inter-planted with slower-growing vegetables. You can plant radishes as soon as you can work the soil in the spring.

            Sow each seed 2 inches apart or more, or thin them to this spacing after they sprout. Cover the seeds with about half an inch of compost or soil.
           <b> Here’s a tip:</b> Radish seeds are natural companions to carrots. Mix radish seeds with carrot seeds before you sow, especially if your soil tends to develop a tough crust. The quick-to-sprout radishes will push up through the soil, breaking it up for the later-sprouting carrots. As you harvest the radishes, the carrots will fill in the row. 
        </dd>
        <dt>5. CARROTS</dt>
        <dd>We’re including carrots only because they’re super easy to grow as long as they’re planted in loose, sandy soil during the cooler periods of the growing season—spring and fall (carrots can tolerate frost). Not all carrots are orange; varieties range in color from purple to white, and some are resistant to diseases and pests.

            Many beginners find their carrots are short and deformed. This is typically due to poor, rocky soil, so it’s important to provide soft, loose soil that drains well. Mix in some sand and really loosen it up. Also, it is essential to THIN carrot seedlings to the proper spacing so that they’re not overcrowded. Be bold! Thin those seedlings if you want carrots to form properly. </dd>
        <dt>6. CUCUMBERS</dt>
        <dd>Prepare in advance for cucumbers; amend the soil with a fertilizer high in nitrogen and potassium to support the plant’s large yields. If possible, plant cucumbers in the sun next to a fence. The fence will serve as support for climbing and act as a shelter. Or plant them near corn. The corn will trap the heat that cucumbers crave and also serve as a windbreak. </dd>
        
        <dt>7. BEETS</dt>
        
        <dd>You haven’t lived until you’ve tasted beets you’ve grown yourself. We mean it! Nothing compares to garden-fresh beets, boiled or roasted until tender.

            The quirky seed capsules contain two or three beet seeds, so the seedlings will always need to be thinned. Sow the seed capsules about an inch deep, and 4 inches apart.Harvest the roots at any time up until they’re the size of a tennis ball. While you’re waiting for them to plump up, why not try a few of the leaves? They can be used just like spinach, giving you two harvests from one plant.</dd>
        
      </dl>
  <p></p>
</div>

</b>
</body>
</html>