<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
          background-image: url("./assets/images/logo.jpg");
        }
        </style>
</head>
<body>
    <div>
    <UL>
        <li>
           <h4> 8 Methods of Composting is what I consider to be the most commonly used methods of composting for a business or home environment.</h4></li>

<li>If you have read 7 Composting Methods then this article is an update to that article.  I added Mechanical Composting as I think this is another very viable method of composting that like all composters have its own advantages and disadvantages.</li>

<li>For a deeper understanding of composting register to receive the monthly newsletter and you will be emailed the white paper by Bob’s James on Composting Principles which discuss the mechanics of composting.</li>

<li>The other information in this article talks about the different methods of composting.</li>

<li>Everybody has different needs so at any given point in time one or more of these methods might suit your current living conditions and you might at some point change the way you compost many times throughout your lifetime.</li>

<li>What you once found useful might become obsolete as your needs and environment change so it’s a good idea to have an understanding of the pros and cons of each system.  However, what might be a pro for you may be a con for someone else.  You just need to work out what is best for you.</li>

<li>They all work in varying degrees for different purposes, some more efficiently than others and some are just simply, different.   You may have tried some of these methods, are happy with your method, are looking for something to compliment your system or are looking for a change.</li>

<li>So I hope this information sheds some light on factors you may not have considered when you last chose your composter or if you are now choosing a new composter.
        </li>
    </UL>
    <ol>
        <p>Composting Methods</p>
        <li><b>Open air composting (hot composting)</b></li>
        <li><b>Direct Composting (in-ground composting)</b></li>
        <li><b>Tumbler Composting (A form of hot composting)</b></li>
        <li><b>Worm Farm Composting (Vermicomposting)</b></li>
        <li><b>EMO Composting (Bacteria composting)</b></li>
        <li><b>Combination Composting (Compot Composting)</b></li>
        <li><b>Commercial Composting</b></li>
        <li><b>Mechanical Composting</b></li>

    </ol>
    <dl>
        <dd>
            <b>1.  Open Air Composting</b>
Open Air Composting is traditionally a pile of green and brown matter in your backyard.

More often than not it is a bay constructed of anything you can get your hands on that is cheap and easy to put together.

Or you might have a couple of bins upturned sitting on the ground like the Gedye bin you can buy in a shop.

Wire cages are also used inlaid with piping around the edges to hold water and capture heat.

This can then be used for hot water systems in sustainability situations.

Open Air Composting is generally considered to be a Hot Composting method.  Some people often call it a Cold Composting when smaller quantities of waste are used because it does not build up the same amount of heat.

To me, Cold Composting still produces heat and therefore is not technically cold composting.

Perhaps one could call it Warm Composting as the only way you could completely cold compost something is to let it rot in the fridge.  And we all know that smell in the fridge.
        </dd>
        <dd><b>2.  Direct Composting</b>
            Direct Compost is simply digging a hole or trench in the ground and burying your scraps.
            
            It is also probably the oldest and most effective method of composting, but like all other methods of composting it too has its limitations.    The main one being that it takes a long time to decompose unless you chop everything up.
            
            You can only bury fruit and veg or you run the risk of it being dug up by all sorts of garden critters from birds to vermin.    And you have to keep digging holes.
            
            It does, however, produce an abundance of worms that then help to nourish your garden and improve your soil.</dd>
        <dd><b>3.  Tumbler Composting</b>
            Tumbler Composting comes in many shapes and sizes of single to double units that you may purchase commercially from your local hardware store.
            
            For many people, this is a great system if you are relatively strong and keen to turn it every day or every few days.
            
            For others, it is hard work especially if you are getting on in years. But you can get some mechanized ones that make turning easier.
            
            You often need two of these systems so you can let one sit for a few months to fully decompose before you empty it.     While this is happening you fill the other one up.
            
            This can be a good system if you have a large amount of green and brown waste to dispose of and have the space to fit this system.
            
            If you are only filling it with green and brown waste then a bay system would be just as good though you may have to watch out for snakes and rats nesting in the warm compost.</dd>
        <dd><b>4.  Worm Farm Composting</b>
            Worm Farm Composting for many is the most common and preferred choice of composting because of their capabilities to grow worms, produce compost and compost tea and keep rats out of your compost.
            
            The worms produce castings concentrated with nutrients lower in nitrogen compared to other composting methods.
            
            Worm farms can be utilized even if you have no garden.
            
            I think everyone has tried at some point in time to make their own worm farm with varying degrees of success using anything they can find that is cheap.
            
            Do not house them in metal containers as copper leaches out, which is toxic to your worms.
            
            I personally have tried foam containers only to find the worm juice eats out the foam so they leak everywhere.
            
            Unless you have them on the ground somewhere so the nutrients can go directly into the soil you end up with a big mess.
            
            If you use plastic containers you can collect the juice but then you have to add a tap to drain it off or some way of rotating the containers to collect the worm tea.
            
            They need to be kept out of the sun, frost, and rain, and somewhere that’s not too cold either.
            
            Worms are temperamental little critters and will try and escape their containers if the conditions are not right and they are not happy.
            
            It is said that you should use local worms for your area.    I personally have no experience with this so you would have to try worms from other areas to know for sure if they will survive.
            
            Local Worm Types
            South Australia Red Worms (Lumbricus rubellus) and Tiger worms (Eisenia fetida) under ideal conditions are said to rapidly reproduce 8 to 1500 worms
            The Tropics use Pontoscolex corethrunus or Pheretima group, commonly found in gardens
            Fishing worms are apparently not good for composting.
            If you can be bothered (according to Bob) you need to test the pH of each batch as some may be are more acidic than others.
            
            But who has time for this or could be bothered.
            
            That’s why I love the Compot because the local worm</dd>
        <dd><b>5.  EMO Composting</b>
            EMO Composting or Effective MicroOrganisms is a system generally used for indoor composting but can be used by anyone who likes this method of composting.
            
            The most common product using EMO’s is the Bokashi but other indoor systems can use it plus there are some systems that use a carbon filter in the lid as well to filter odors.
            
            Generally speaking, you need two of these, so while one is sitting the other is being filled.
            
            You can collect juice to use in your garden.
            
            But you cannot put everything from your kitchen is the Bokashi System.
            
            You can buy the EMO online through many sites selling the Bokashi System.
            
            You can use the EMO’s in other systems if you so desire to aid the composting process.</dd>
        <dd><b>6.  Combination Composting</b>
            Combination Composting or Compot Composting is a combination method of open-air composting, direct composting, vermicomposting, and EMO composting.
            
            All the elements of composting are used and will suit most household circumstances.
            For some people, it too has its challenges. But for me, the challenges are less and the rewards are better.
            You can compost ‘ALL’ your kitchen waste and not just ‘some’ of it.
            
            So ultimately you have over 50% less waste each week to put in your council bin.
            
            Just Fill…Forget…Refill…when ready and give it a good clean out once a year.
            
            It is faster and requires less work than most other composters.
            
            And it nourishes your soil with all your own waste.
            
            To me, it is the easiest composter I have ever used.</dd>
        <dd><b>7.  Commercial Composting</b>
            Commercial Composting is different to backyard composting and uses different materials.
            The Compost is made in long rows using such materials as, sawdust, pine bark, sand plus ferrous sulphate and maybe some sulphate of ammonia all mixed together.
            It is usually turned every 3 to 4 days and is generally ready in 6 weeks for bagging.
            There is not much nutrient value in the cheap commercial compost.
            But there are small independent commercial compost companies that produce a better quality product, than the large commercial compost companies.   They are however more expensive.
            
            Some producers such as McLeod’s Agriculture are certified organic as well.
            The old saying “you get what you pay for” certainly applies to commercial compost.
            
            The cheaper commercial compost is a good filler for raised garden beds or to backfill a Compot in clay or sandy soil.
            
            Or it can be used to mix with composted soil to fill a pot plant perhaps.
            If you are buying commercial grade compost to grow things it is best to buy a high-quality propagation mix.</dd>
            <dd><b>8. Mechanical Composting</b>
                Mechanical Composting is an efficient method of composting that uses electricity to create the heat required and rotation of the contents required to produce semi-composted waste literally within a 24 hour period.
                
                This system suits restaurants, hotels, motels, hospitals, schools, kindergartens and any large institution creating large amounts of waste from many people.     It is a manageable in-house system instead of sending your waste off to council tips.   You do however need to further compost the waste so need someone to collect the leftover contents for further composting in a garden bed or bay composting system.
                
                There are also small systems that suit some people for their private residence but they can be quite expensive and will, of course, cost you ongoing electricity.  Like all composters they to come with some pros and cons, but they do produce fast semi-composted soil.</dd>
        </dl>
    </div>
</body>
</html>
