<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
          background-image: url("./assets/images/aboutus.jpg");
        }
        </style>
</head>
<body>
   <div>
 <h1><i> Hiii..........  I am kirthi I love plants like u all love in this website i will share my ideas and experiences from my gardening experience</i></h1>
<b>
 <p><i>
    Hey beginners, listen...
Congratulations! you have signed up for an inexpensive and therapeutic hobby that'll result in a healthier lifestyle. 
</i></p>
<p><i>Don't worry if you have killed a plant or two in the past. We all have, I still do.</i> </p>

<i>Let's start over.</i>
<ul>
    <li> Try simple plants that you can actually harvest and eat. It will give you a sense of achievement, the biggest motivator to continue. Gardening is an acquired skill, and nothing that can be learned has to be boring or messy. </li>
    <li> If you have questions that remain unanswered on Greenie, leave them for us to work on.</li>
</ul>
<p>Tons of stuff, from ideas to products, but nothing that's not beautiful. There is something for everyone who wants to make a difference to the way they live. 
</p>
    ​<p>Specifically, you can look for</p>
    <ul>
        <li>'Gardening 'why' and 'how to''</li>
        <li>'Decor ideas '</li>
        <li>'Exclusive decor and gardening products'</li>
        <li>'Advice on sustainable living'</li>
    </ul>
    <p>Most importantly, you'll find a way to connect with a community of like- minded people. If you are a pro at something that's worth sharing with the tribe, Greenie is also your stage. </p>
</b>
</div>
</body>
</html>
